@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background-color: #fbf5f5;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  margin: 50px auto;
  text-align: left;
  background-color: #fff;
  padding: 2%;
}

#head-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#add-list input {
  padding: 10px;
  border: 0;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
  border-bottom: 2px solid gray;
}

div {
  width: 100%;
  border-bottom: 2px solid gray;
}

button {
  width: 100%;
  padding: 10px;
}

.move-delete {
  display: block;
  width: 20px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.strik-through {
  text-decoration: line-through;
}

.each-list {
  border: 0 none;
}
